<div class="job_summary">

  <div class="job_header">
    <div class="job_title">
      qqq
    </div>
    <div class="created_on">
      bbb
    </div>
    <div style="clear: both;"></div>
  </div>
  <div class="job_content">
    ccc
  </div>

</div>

