<!DOCTYPE HTML>
<html>
  <head>
    <script src="/javascripts/jquery-1.6.4.min.js" type="text/javascript"></script>
    <style type="text/css" media="screen">      
      body {
        font-family: 'Helvetica', serif;
        font-size: 16px;
        line-height: 1.8em;
        margin-right: auto;
        margin-left: auto;
        background-color: #F4F4F4;
        color: #7A7A7A;
        background-image: url(/images/noise.gif);
        padding: 0;
        margin: 0;
        min-width: 960px;
      }
      
      #header {
        width: 100%;
        color: #FFFFFF;
        background-color: #333;
      }

      .version {
        font-size: 11px;
        margin-right: 10px;
      }
      
      #main_content_area {
        width: 960px;
        margin: 0px auto 40px;
        padding: 10px 0px;
        background-color: #FFFFFF;
      }
      
      .job {
        border: 1px dotted #E6E6E6;
        background-color: #F9F9F9;
        margin: 20px;
      }
      
      .job_title {
        font-weight: bold;
        margin-bottom: 0px;
        color: #333;
        float: left;
      }
      
      a {
        color: #333;
      }
      
      .job_header, .job_content {
        margin: 10px;
      }
      
      .created_on {
        font-size: 10px;
        text-transform: uppercase;
        float: right;
      }
      
      #logo {
        margin-top: 5px;
        margin-left: 10px;
        float: left;
      }
      
      #main_nav {
        font-size: 11px;
        float: right;
        width: 500px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        border-radius: 8px;
      }
      
      .job_content {
        font-size: 12px;
        line-height: 1.2em;
      }
      
      .job_output {
        padding: 10px;
        background-color: #333;
        color: #FFFFFF;
        overflow: scroll;
        font-size: 12px;
        line-height: 1.2em;
        display: none;
      }
            
      .status {
        overflow: visible;
        background: url("/images/status2.png");
        float: left;
        width: 26px;
        height: 26px;
        display: block;
        margin: 0 0 0 0;
        background-position: 0px -74px; /* pending... in the case that no status specific class is provided but this is, the default case */
      }
      
      .status.successful {
        background-position: 0px 0px;
      }
      
      .status.failed {
        background-position: 0px -26px;
      }
      
      .status.running {
        background-position: 0px -52px;
      }
      
      .status.pending {
        background-position: 0px -74px;
      }

      .status.error {
        background-position: 0px -26px;
      }

      .bold {
        font-weight: bold;
      }
      .black {
        color: black;
      }
      .red {
        color: red;
      }
      .green {
        color: green;
      }
      .yellow {
        color: yellow;
      }
      .blue {
        color: blue;
      }
      .magenta {
        color: magenta;
      }
      .cyan {
        color: cyan;
      }
      .white {
        color: white;
      }
      .grey {
        color: grey;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div id="logo">
        Octopusci <span class="version">v<%= Octopusci::Version %></span><% if @page_logo %>( <%= @page_logo %> )<% end %>
      </div>
      <div id="main_nav">
        <a href="/">Dashboard</a>
        <a href="/resque" target="_blank">Resque</a>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div id="main_content_area">
      <div style="font-size: 14px; line-height: 1.2em; margin-left: 20px;">
        <span class="status pending"></span><div style="float: left; margin-top: 6px;">Pending...</div>
        <span class="status running"></span><div style="float: left; margin-top: 6px;">Running...</div>
        <span class="status successful"></span><div style="float: left; margin-top: 6px;">Successful</div>
        <span class="status failed"></span><div style="float: left; margin-top: 6px;">Failed</div>
        <div style="clear: both;"></div>
      </div>
      <%= yield %>      
    </div>
  </body>
</html>
