<!DOCTYPE HTML>
<html>
  <head>
    <style type="text/css" media="screen">      
      body {
        font-family: 'Helvetica', serif;
        font-size: 16px;
        line-height: 1.8em;
        margin-right: auto;
        margin-left: auto;
        background-color: #F4F4F4;
        color: #7A7A7A;
        background-image: url(/images/noise.gif);
        padding: 0;
        margin: 0;
        min-width: 960px;
      }
      
      #header {
        width: 100%;
        color: white;
        background-color: #333;
      }
      
      #main_content_area {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: white;
      }
      
      .job {
        border: 1px dotted #E6E6E6;
        background-color: #F9F9F9;
        margin: 20px;
      }
      
      .job_title {
        font-weight: bold;
        margin-bottom: 0px;
        color: #333;
        float: left;
      }
      
      a {
        color: #333;
      }
      
      .job_header, .job_content {
        margin: 10px;
      }
      
      .created_on {
        font-size: 10px;
        text-transform: uppercase;
        float: right;
      }
      
      #logo {
        margin-top: 5px;
        margin-left: 10px;
        float: left;
      }
      
      #main_nav {
        font-size: 11px;
        float: right;
        width: 500px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: white;
        border-radius: 8px;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div id="logo">Octopusci</div>
      <div id="main_nav">
        <a href="/resque" target="_blank">Resque</a>
      </div>
      <div style="clear: both;"></div>
    </div>
    <div id="main_content_area">
      <%= yield %>      
    </div>
  </body>
</html>
