body {
  font-family: "proxima-nova-1", "proxima-nova-2", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: none;
  text-decoration: none;
  margin: 0;
  background-color: #F4F4F4;
  color: #7A7A7A;
  background-image: url(/images/noise.gif);
}

h1 {
  font-weight: 300;
  font-size: 48px;
  line-height: 36px;
  color: #7A7A7A;
}

#header {
  color: white;
  background-color: #333;
}

#logo {
  margin-top: 5px;
  margin-left: 10px;
  width: 200px;
  float: left;
}

#main_nav {
  font-weight: bold;
  font-size: 11px;
  float: right;
  width: 450px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 8px;
}

#main_nav a {
  padding: 20px;
  padding-left: 0;
}

#main_content_area {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
}

article {
  border: 1px dotted #E6E6E6;
  background-color: #F9F9F9;
  margin: 20px;
  padding: 20px;
}


article h1, article h2, article h3, article h4 {
  color: #333;
}

a {
  color: #333;
  text-decoration: underline;
}

.entry-title {
  font-weight: 300;
  font-size: 36px;
  line-height: 38px;
  text-decoration: none;
}

.entry-title a {
  text-decoration: none;
}

article section {
  font: 400 15px/24px "proxima-nova-1", "proxima-nova-2", "Helvetica Neue", Helvetica, sans-serif;
  color: #444;
}

.entry-time {
  color: #999;
  font-size: 12px;
}

.octopusci_avatar {
  height: 49px;
  width: 49px;
  margin: 0 5px 5px -5px;
  float: left;
  display: inline-block;
}

.octopusci_logo_label {
  margin-top: 11px;
  float: left;
}