<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Octopusci Build</h1>
    <h2>Command Status</h2>
    <pre>
      <code>
        <%= @cmd_status %>
      </code>
    </pre>
    <h2>Command Output</h2>
    <pre>
      <code>
        <%= @cmd_output %>
      </code>
    </pre>
  </body>
</html>