<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <meta name="author" content="Andrew De Ponte" />
  <title>Octopusci : {{ page.title }}</title>
  <link href="/atom.xml" rel="alternate" title="Octopusci" type="application/atom+xml" />
  <link rel="stylesheet" href="../stylesheets/foundation.css">
  <link rel="stylesheet" href="../stylesheets/ie.css">
  <link rel="stylesheet" href="../stylesheets/app.css">
</head>

<body>
  <div id="header" class="container">
    <div class="row">
      <div id="logo">
        <img src="/images/octopus_avatar.png" class="octopusci_avatar" />
        <div class="octopusci_logo_label">Octopusci : {{ page.title }}</div>
        <div style="clear: both;"></div>
      </div>

      <div id="main_nav" class="hide-on-phones">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="https://github.com/cyphactor/octopusci/issues" target="_blank">Issues</a>
        <a href="https://github.com/cyphactor/octopusci/wiki" target="_blank">Wiki</a>
        <a href="/sponsors">Sponsors</a>
        <a href="/archive">Archive</a>
      </div>
      <div style="clear: both;"></div>
    </div>
  </div>
  <div class="container">
    <div class="row hide-on-phones">
      <div id="social_connectors" style="padding: 5px;">
        <div>
          <a href="/atom.xml"><img src="/images/feed-icon-28x28.png" /></a>
          <a href="https://twitter.com/octopusci" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @octopusci</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
    <div id="main_content_area" class="row">
      <div id="jobs">
          {{ content }}
      </div>
    </div>
        <div class="row show-on-phones">
      <div id="social_connectors" style="padding: 5px;">
        <div>
          <a href="/atom.xml"><img src="/images/feed-icon-28x28.png" /></a>
          <a href="https://twitter.com/octopusci" class="twitter-follow-button" data-show-count="false" data-lang="en" data-size="large">Follow @octopusci</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
      </div>
    </div>
  </div>
  {% include mobilenav.html %}

  <a href="https://github.com/cyphactor/octopusci" class="hide-on-phones"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
</body>
</html>